{% extends 'base/base.html' %}
{% block tittle %}<title>Acceso Denegado</title> {% endblock %}

{% block Content %}
<body class="well">
<div class="container text-justify text-center jumbotron">
<h1>Acceso Denegado</h1>
    <p>Lo sentimos, pero usted no tiene acceso a esta página.</p>
    <p style="font-size: small">Trabajamos por usted <span style="color:#1e347b;font-size:medium;font-family: FontAwesome">por una recarga facil y segura</span> </p>
<a class="btn-link" style="text-decoration: none" href="{% url 'cobertura' %}">www.Cobertura.com/Inicio</a>

</div>
</body>
{% endblock %}