{% extends 'base/base.html' %}
{% block Content %}
<style>
 a {
position: relative;
overflow: hidden;
display: inline-block;
text-decoration: none;
color: #002a8f;
}
a:after {
content: "";
position: absolute;
bottom: 0;
left: -100%;
width: 100%;
height: 2px;
background: #002a8f;
transition: left .8s;
}
a:hover:after {
left: 0;
}
</style>

  {% if validlink %}
<div class="container" id="general" style="align: center">
    <h2 class="well text-center">Change password</h2>
    <!--<form method="post">
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>-->
    <form id="formReg" class="form-horizontal" method="post">
    {% csrf_token %}


  <div class="form-group " style="display: flex;justify-content: center;margin-top: -10px" name="new_password">
          <label class="control-label col-sm-4" style="display: flex;justify-content: left"  for="id_new_password1">Nueva contraseña:</label>
  </div>
  <div class="form-group" style="display: flex;justify-content: center" name="new_password">
        <div class="col-sm-4" name="meterAlert" style="margin-top: -10px;width: 35%" title="ok">
            <input type="password" name="new_password1" required class="form-control" oninput="ValidarPass(this,0,'new_password')"
                   autocomplete="off" id="id_new_password1" title="Complete este campo">
            <span name="new_password" class="form-control-feedback"></span>

            <a type="link"  class="btn btn-link" style="color: #002a8f;text-decoration: none" onclick="Transparent(this,'id_new_password1')">Mostrar contraseña</a>
        </div>
  </div>

  <div class="form-group " style="display: flex;justify-content: center;margin-top: -10px" name="new_password3">
          <label class="control-label col-sm-4" style="display: flex;justify-content: left"
            for="id_new_password2">Confirmar nueva contraseña:</label>
  </div>
  <div class="form-group " style="display: flex;justify-content: center" name="new_password3">
        <div class="col-sm-4" name="meterAlert" style="margin-top: -10px;width: 35%" id="last" title="ok">
            <input type="password" name="new_password2" oninput="ValidarPass(this,1,'new_password3')" class="form-control" autocomplete="off"
               id="id_new_password2"  title="Complete este campo">
            <span class="form-control-feedback" name="new_password3"></span>
            <a type="link"  class="btn btn-link" style="color: #002a8f;text-decoration: none" onclick="Transparent(this,'id_new_password2')">Mostrar contraseña</a>
        </div>
  </div>

  <div class="col-sm-12 text-center">
       <button type="submit" value="submit" name="submit" id="cambiarContra" class="btn btn-default"
       style="background-color: #002a8f;color: white;width: 200px"
       data-toggle="tooltip" data-placement="bottom" title="Crea tu nueva cuenta">Cambiar contraseña</button>
  </div>

</form>
</div>

  {% else %}
    <p>
      El cambio de contraseña fue inválido, posiblemente porque el link enviado ya ha ha sido usado. Por favor solicita un nuevo cambio de contraseña.
    </p>
  {% endif %}
<script>
        var disabled=false;
        var pass1=false;
        var pass2=false;
     function ValidarPass(self,off,text) {
            security=securityPass(self.value);
            PassDivs = document.getElementsByName(text);
            if (self.value.length>=8&&self.value.length<12&&security&&true){
                 EliminarError(self,off);
                 CampoObligatorio(off,true,'Contraseña débil. Para que sea segura debe tener al menos 12 caracteres');
                 self.parentElement.title='error';
                 PassDivs[0].className='form-group has-warning has-feedback';
                 PassDivs[1].className='form-group has-warning has-feedback';
                 PassDivs[2].className='glyphicon glyphicon-warning-sign form-control-feedback';
                 document.getElementById('div'+off).className='alert-warning';
                 if(off==2){
                     pass1=true;
                 }else{
                     pass2=true
                 }
                 if(!disabled&&pass1&&pass2&&true){
                     document.getElementById('cambiarContra').disabled = false;
                     disabled=true;
                 }
            }else {
                if(security){
                        EliminarError(self, off);
                        self.parentElement.title = 'ok';
                        PassDivs[0].className = 'form-group has-success has-feedback';
                        PassDivs[1].className = 'form-group has-success has-feedback';
                        PassDivs[2].className = 'glyphicon glyphicon-ok form-control-feedback';
                         if(off==2){
                             pass1=true;
                         }else{
                             pass2=true
                         }
                        if(!disabled&&pass1&&pass2&&true){
                            document.getElementById('cambiarContra').disabled = false;
                            disabled=true;
                        }
                }else{
                    EliminarError(self, off);
                    self.parentElement.title = 'error';
                    CampoObligatorio(off,true,'Contraseña Invalida. La contraseña debe tener al menos 8 caracteres una letra mayúsculas, una minúscula, un número, simbolo del teclado y no tener espacios en blanco.');
                    PassDivs[0].className = 'form-group has-error has-feedback';
                    PassDivs[1].className = 'form-group has-error has-feedback';
                    PassDivs[2].className = 'glyphicon glyphicon-remove form-control-feedback';
                        if(off==2){
                         pass1=false;
                     }else{
                         pass2=false;
                     }
                    if(disabled){
                        document.getElementById('cambiarContra').disabled = true;
                        disabled=false;
                    }
                }
            }

            if(self.value.length<8){
                if(document.getElementById('div'+off)==null) {
                    CampoObligatorio(off, true, 'Contraseña inválida. Debe tener al menos 8 caracteres');
                    self.parentElement.title = 'error';
                    if(disabled){
                        document.getElementById('cambiarContra').disabled = true;
                        disabled=false;
                    }
                }
                if(disabled){
                        document.getElementById('cambiarContra').disabled = true;
                        disabled=false;
                }
                 if(off==2){
                     pass1=false;
                 }else{
                     pass2=false;
                 }
                 PassDivs[0].className='form-group has-error has-feedback';
                 PassDivs[1].className='form-group has-error  has-feedback';
                 PassDivs[2].className='glyphicon glyphicon-remove form-control-feedback';
            }
               if(self.value.length==0){
                EliminarError(self,off);
                 PassDivs[0].className='form-group';
                 PassDivs[1].className='form-group';
                 PassDivs[2].className='form-control-feedback';
                 pass1=false;
                 if(disabled){
                        document.getElementById('cambiarContra').disabled = true;
                        disabled=false;
                }
            }
        }
         function CamposObligatorios() {
            var passReg = $("#passReg").val();
            var errorpass = document.getElementById('id_new_password1');
            var password2 = $("#password2").val();
            var errorpassword2 = document.getElementById('id_new_password2');

          if (passReg.length==0){
                if(errorpass.parentElement.title=='ok') {
                    CampoObligatorio(2,true,'Debe completar el campo "Contraseña"');
                    boll=false;
                    errorpass.parentElement.title='error';
                    pass1=false;
                    document.getElementById('cambiarContra').disabled = true;
                }
            }

            if (password2.length==0){
                if(errorpassword2.parentElement.title=='ok') {
                    CampoObligatorio(3, true,'Debe completar el campo "Confirmar Contraseña"');
                    boll = false;
                    errorpassword2.parentElement.title = 'error';
                    pass2=false;
                    document.getElementById('cambiarContra').disabled = true;
                }
            }
        }
        function CampoObligatorio(off,dos,text){
            meterAlerts=document.getElementsByName('meterAlert');
            if(dos) {
                var div = document.createElement("div");
                div.id='div'+off;
                div.className = " alert-danger col-sm-12";
                div.style.marginTop = "5px";
                //div.style.height="20px";
                div.style.marginBottom = " -10px";
                div.style.backgroundColor = " #feeeef";
                div.style.borderColor = " #e2808a";
                var i = document.createElement("i");
                i.className = "fa fa-exclamation-triangle";
                i.style.marginRight = " 10px";
                div.appendChild(i);
                var text = document.createTextNode(text);
                div.appendChild(text);
                meterAlerts[off].appendChild(div);
            }
            else{
                 meterAlerts[off].removeChild(document.getElementById('div'+off))
            }
        }
        function EliminarError(self,off) {
            if (self.parentElement.title=='error'){
                self.parentElement.title='ok';
                CampoObligatorio(off,false);
            }
        }
        function securityPass(contrasenna){
        		{
                        if(contrasenna.length >= 8)
                        {
                            var mayuscula = false;
                            var minuscula = false;
                            var numero = false;
                            var caracter_raro = false;
                            var espacio=false;

                            for(var i = 0;i<contrasenna.length;i++)
                            {
                                if(contrasenna.charCodeAt(i) >= 65 && contrasenna.charCodeAt(i) <= 90)
                                {
                                    mayuscula = true;
                                }
                                else if(contrasenna.charCodeAt(i) >= 97 && contrasenna.charCodeAt(i) <= 122)
                                {
                                    minuscula = true;
                                }
                                else if(contrasenna.charCodeAt(i) >= 48 && contrasenna.charCodeAt(i) <= 57)
                                {
                                    numero = true;
                                }
                                else if(contrasenna.charAt(i)==' ')
                                {
                                    espacio=true;
                                }
                                else
                                {
                                    caracter_raro = true;
                                }
                            }
                            if(mayuscula == true && minuscula == true && caracter_raro == true && numero == true && espacio==false)
                            {
                                return true;
                            }
                        }
                        return false;
		        }
        }
                function Transparent(self,off) {
            if(document.getElementById(off).type=='text'){
               document.getElementById(off).type='password'
            }else {
                document.getElementById(off).type = 'text';
            }
        }
</script>
{% endblock %}