{% extends 'base/base.html' %}
{% block Content %}
<div class="well container" style="width: 530px;margin-top: 40px;background-color: white;padding: 60px">
  <h2 class="text-center">
    <i class="fa fa-exclamation-triangle" style="font-size: 25px;color: orange;margin-right: 5px"></i>
    Atención</h2>
  <p class="text-justify" style="font-size: medium">
    Te hemos enviado mediante un email las instrucciones para configurar tu contraseña, si existe una cuenta con el email
    que pusiste.
    Deberías recibir el email en pocos segundos.
  </p>
  <p class="text-justify" style="font-size: medium">
    Si no recives el email, por favor asegúrate de que has puesto la direccion de correo con que te registraste y chequea
    la carpeta de spam del correo.
  </p>
</div>
{% endblock %}