{% extends 'base/base.html' %}
{% block Content %}

<style>
 a {
position: relative;
overflow: hidden;
display: inline-block;
text-decoration: none;
color: #002a8f;
}
a:after {
content: "";
position: absolute;
bottom: 0;
left: -100%;
width: 100%;
height: 2px;
background: #002a8f;
transition: left .8s;
}
a:hover:after {
left: 0;
}
</style>

 <div class="well container" id="general" style="width: 530px;margin-top: 40px;background-color: white;padding: 60px">
 <h2 class="text-center">Recuperar contraseña</h2>
     <p style="font-size: large;margin-top: 20px" class="text-justify">Al realizar esta solicitud, le enviaremos a su email instrucciones para resetear su contraseña.</p>

 <form class="" role="form" method="post" id="form">
    {% csrf_token %}
 <!--{{ form.as_p }}-->
    <div class="form-group">
      <label for="id_email">Email:</label>
      <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" id="email" style="width: 410px">
      <input class="form-control" type="email" style="display:none"  name="email" autocomplete="email" maxlength="254" id="id_email" style="width: 300px">
    </div>
    <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
    title="Enviar solicitud de cambio de contraseña" style="width: 200px;background-color: #002a8f;color: white">Enviar</button>
    <a href="{% url 'iniciarsecion' %}" class="btn btn-link" style="margin-left: 40px;color: #002a8f;text-decoration: none"
     data-toggle="tooltip" data-placement="bottom" title="Iniciar sesión">Volver al login</a>

 </form>
 </div>
 <script>
         var URLactual = window.location.search;
         username="";
         for (var i=2;i<URLactual.length;i++){
            username+=URLactual.charAt(i)
         }
         data={user:username,
         dataType: "json"};
         var args = {type: "GET", url: "{% url 'GetEmail' %}", data};
         $.ajax(args).done(function (response) {
             document.getElementById('id_email').value=response.email;
             document.getElementById('email').value=response.email;
             //alert(response.email);
             document.getElementById('email').disabled=true;
         });

          $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip();
        });
//preguntar antes de hacer el submit si hay conneccion, desde el from y desde el back

 </script>
{% endblock %}