{% extends 'base/base.html' %}

{% block navbar %}
{% endblock %}

{% block Content %}
<style>
 a {
position: relative;
overflow: hidden;
display: inline-block;
text-decoration: none;
color: #002a8f;
}
a:after {
content: "";
position: absolute;
bottom: 0;
left: -100%;
width: 100%;
height: 2px;
background: #002a8f;
transition: left .8s;
}
a:hover:after {
left: 0;
}
</style>

        {% if user.is_authenticated %}
            <h1>ya esta autenticado</h1>
            {{user}}
        {% else %}
      <div class="container" id="general"  disabled="true" style="align: center">
    <h2 class="well text-center">Iniciar cuenta en COBERTURA</h2>
  <form id="formReg" class="form-horizontal" disabled="true" method="POST">
                {% csrf_token %}
    <div class="form-group " style="display: flex;justify-content: center" name="UserDivs">
        <label class="control-label col-sm-4" style="display: flex;justify-content: left"  for="username">Nombre de Usuario:</label>
     </div>
    <div class="form-group " style="display: flex;justify-content: center" name="UserDivs">
        <div name="meterAlert" class="col-sm-4" style="margin-top: -10px;width: 35%" title="ok">
            <input  id="userNameReg" type="text" name="username" oninput="ValidarUser()"
                    class="form-control" autocomplete="off" title="Complete este campo">
            <span id="Wait" name="UserDivs" class=""></span>
         </div>
    </div>

    <div class="form-group " style="display: flex;justify-content: center;margin-top: -10px" name="PassDivs">
          <label class="control-label col-sm-4" style="display: flex;justify-content: left"  for="password1">Contraseña:</label>
    </div>
    <div class="form-group" style="display: flex;justify-content: center" name="PassDivs">
        <div class="col-sm-4" name="meterAlert" style="margin-top: -10px;width: 35%" title="ok">
            <input type="password" name="password1" class="form-control" autocomplete="off" id="passReg" oninput="ValidatePass()"
                title="Complete este campo">
            <span name="PassDivs" class="form-control-feedback"></span>

            <a type="link" class="btn btn-link" id="mostrarPass" style="color: #002a8f;text-decoration: none" onclick="Transparent(this,'passReg')"
            data-toggle="tooltip" data-placement="bottom" title="Asegúrate de que nadie observe tu contraseña">Mostrar contraseña</a>
        </div>
    </div>
     <div class="col-sm-12 text-center">
        <button id="ingresar" type="submit" class="btn btn-default" style="width: 200px;background-color: #002a8f;color: white"
         data-toggle="tooltip" data-placement="bottom" title="Iniciar cuenta">Ingresar</button>
        <a  style="color: #002a8f;text-decoration: none" class="btn btn-link" id="linkOlvideContraseña" onclick="recuperarContrasenna()"
            data-toggle="tooltip" data-placement="bottom" title="Click si olvidaste tu contraseña">Olvidé mi contraseña</a>
    </div>
    <div class="col-sm-12">&nbsp;</div>

      <div class="col-sm-12 text-center">
          <a class="btn btn-default" id="crearCliente" onclick="RedirectRegister()">Crear Cuenta en Cobertura</a>
      </div>
    </form>
    <div class="col-sm-12">&nbsp;</div>
</div>
      <!--     <form class="jumbotron container" method="post" style="margin-top: 50px; border-radius: 10px;
           padding: 80px 0px;width: 600px;height: auto" method="post">
                {% csrf_token %}
                    <div class="container" style="display: flex;justify-content: center">
                        <div class="col-md-6" style="justify-content: left">
                            <div class="form-group">
                                <label for="username">Nombre de Usuario:</label>
                                <input id="userName" type="text" name="username" class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="container" style="display: flex;justify-content: center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Contraseña:</label>
                                <input id="pass" type="password" name="password" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="container col-sm-12" style="display: flex;justify-content: center">
                     <div>
                        <div class="form-group">
                            <a href="{% url 'password_reset' %}" onclick="User()">Olvide mi contraseña</a>
                            <input type="submit" class="btn btn-primary" value="Ingresar">
                        </div>
                     </div>
                    </div>
                      <div class="container col-sm-12" style="display: flex;justify-content: center">
                     <div>
                        <div class="form-group">
                            <a href="{% url 'social:begin' 'facebook' %}">INICIA CON FACEBOOK</a>
                            <a href="{% url 'social:begin' 'google-oauth2' %}">INICIA CON GOOGLE</a>
                        </div>
                     </div>
                    </div>
            </form>-->
        {% endif %}

<script>
       window.onload=function () {
       alert('debes autenticarte antes de realizar esa action');
       };
    var user1=false;
    var pass1=true;
    var disabled=false;
    if ($("#userNameReg").val().length==0&&$("#passReg").val().length==0){
          document.getElementById('ingresar').disabled = true;
          $('#crearCliente').attr('disabled', true);
          $('#linkOlvideContraseña').attr('disabled', true);
    }
    $('#formReg').on('submit', function(e){
         document.getElementById('userNameReg').disabled=true;
         document.getElementById('passReg').disabled=true;
         document.getElementById('ingresar').disabled=true;
         $('#mostrarPass').attr('disabled',true);
         $('#crearCliente').attr('disabled',true);
         $('#linkOlvideContraseña').attr('disabled',true);
         $('#general').css('background-color', '#92a8d1')
           .css('opacity', 0.5);

       e.preventDefault();
        if(user1){
            var csrftoken=document.getElementsByName('csrfmiddlewaretoken')[0].value;
            var data = {
            username: $('#userNameReg').val(),
            password: $('#passReg').val(),
            csrfmiddlewaretoken:csrftoken.toString(),
            dataType: "json",
            };
            ///NOTA
            ///OBTENER LA URL ANTES DE HACER EL AJAX Y DEPUES window>locations>hrf='esA URL'
            ///SEGUIR CON LO DE MANDAR EL USERNAME AL LINK DE RECUPERAR PASSWORD PERGUNTAR POR EL CORREO Y ASI
            var URLactual = window.location.search;
            URL='';
            for (var i=6;i<URLactual.length;i++){
                URL+=URLactual.charAt(i)
            }
            var args = {type: "POST", url: "{% url 'iniciarsecion' %}", data};
            $.ajax(args).done(function (response){
                if(response.Result=='True'){
                    setTimeout(function (){window.location.href=URL} ,2000);
                    alertify.success("este es un mensaje de exito");
                }
                else{
                        CampoObligatorio(1, false);
//                      if(disabled&&user1&&pass1&&true){
//                      document.getElementById('ingresar').disabled = true;
//                      disabled=false;
                        document.getElementById('ingresar').disabled = true;
                        disabled=false;
                        document.getElementById('userNameReg').disabled=false;
                        document.getElementById('passReg').disabled=false;
                        document.getElementById('ingresar').disabled=false;
                        $('#mostrarPass').attr('disabled',false);
                        $('#crearCliente').attr('disabled',false);
                        $('#linkOlvideContraseña').attr('disabled',false);
                        var userNameReg = $("#userNameReg").val();
                        $('#general').css('background-color', '')
                        .css('opacity', 1.0);
                        CampoObligatorio(1, true, 'La Contraseña entrada no coincide con el usuario "' + userNameReg + '".');
                        PassDivs = document.getElementsByName('PassDivs');
                        PassDivs[0].className = 'form-group has-error has-feedback';
                        PassDivs[1].className = 'form-group has-error has-feedback';
                        PassDivs[2].className = 'glyphicon glyphicon-remove form-control-feedback';
                        pass1 = false;
      //              }
                }
            });
        }
    });
    function ValidarUser(){
            var userNameReg = $("#userNameReg").val();
            var errorUser = document.getElementById('userNameReg');
            var data = { user:userNameReg };
            var args = { type:"GET", url:"/usuarios/user", data:data };
            errorUser.parentElement.title = 'ok';

                   $.ajax(args).done(function (response) {
                       if (response.Result == 'True') {
                           CampoObligatorio(0,false,'');
                           if(errorUser.parentElement.title=='error'){
                               errorUser.parentElement.title = 'ok';
                           }
                           UserDivs = document.getElementsByName('UserDivs');
                           UserDivs[0].className = 'form-group has-success  has-feedback';
                           UserDivs[1].className = 'form-group has-success  has-feedback';
                           UserDivs[2].className = 'glyphicon glyphicon-ok form-control-feedback';

                           //has-success has-feedback
                           //glyphicon glyphicon-ok form-control-feedback
                           user1 = true;
                            if(!disabled&&user1&&pass1&&true){
                               document.getElementById('ingresar').disabled = false;
                               $('#crearCliente').attr('disabled', false);
                               $('#linkOlvideContraseña').attr('disabled', false);

                               disabled=true;
                            }
                       } else {
                           UserDivs = document.getElementsByName('UserDivs');
                           UserDivs[0].className = 'form-group has-error has-feedback';
                           UserDivs[1].className = 'form-group has-error has-feedback';
                           UserDivs[2].className = 'glyphicon glyphicon-remove  form-control-feedback';
                          // if(disabled&&user1&&pass1&&true){
                               document.getElementById('ingresar').disabled = true;
                               $('#crearCliente').attr('disabled', true);
                               $('#linkOlvideContraseña').attr('disabled', true);
                               disabled=false;
                            //}
                            if (errorUser.parentElement.title == 'ok') {
                               var userNameReg = $("#userNameReg").val();
                               CampoObligatorio(0,false,'');
                               CampoObligatorio(0,true,'El usuario "'+userNameReg+'", no existe.');
                               errorUser.parentElement.title = 'error';
                               user1 = false;
                           }
                           //form-group has-error has-feedback
                           //glyphicon glyphicon-remove form-control-feedback
                           user1 = false;
                       }
                   });
        }
    function ValidatePass() {
        if(pass1==false) {
            PassDivs = document.getElementsByName('PassDivs');
            PassDivs[0].className = 'form-group ';
            PassDivs[1].className = 'form-group ';
            PassDivs[2].className = ' form-control-feedback';
            pass1 = true;
            CampoObligatorio(1, false);
        }
        if(!disabled&&user1&&pass1&&true){
           document.getElementById('ingresar').disabled = false ;
           disabled=true;
        }

    }
    function CampoObligatorio(off,dos,text){
            meterAlerts=document.getElementsByName('meterAlert');
            if(dos) {
                var div = document.createElement("div");
                div.id='div'+off;
                div.className = " alert-danger col-sm-12";
                div.style.marginTop = "5px";
                //div.style.height="20px";
                div.style.marginBottom = " -10px";
                div.style.backgroundColor = " #feeeef";
                div.style.borderColor = " #e2808a";
                var i = document.createElement("i");
                i.className = "fa fa-exclamation-triangle";
                i.style.marginRight = " 10px";
                div.appendChild(i);
                var text = document.createTextNode(text);
                div.appendChild(text);
                meterAlerts[off].appendChild(div);
            }
            else{
                nod=document.getElementById('div'+off)
                if(nod!=null) {
                    nod.remove()
                }
                //meterAlerts[off].removeChild(nod)
            }
        }
    function Transparent(self,off) {
        if(document.getElementById(off).type=='text'){
           document.getElementById(off).type='password'
        }else {
            document.getElementById(off).type = 'text';
        }
    }
    function RedirectRegister(){
        alert('redirect');
        var URLactual = window.location.search;
        window.location.href="{% url 'registrar' %}"+URLactual;
    }
    function recuperarContrasenna() {
        var URLactual = window.location.search;
        var href="{% url 'password_recovery' %}";
     //   alert($('#userNameReg').val())
        window.location.href=href+'?='+$('#userNameReg').val();

    }
</script>

  {% endblock %}

{% block footer %}
{% endblock %}


       window.onload=function () {
       alert('debes autenticarte antes de realizar esa action');
       }