{% extends 'base/base.html' %}

{% block navbar %}
{% endblock %}

{% block Content %}

<style>

    .btn-link::after{
content: "";
position: absolute;
bottom: 0;
left: -100%;
width: 100%;
height: 2px;
background: #002a8f;
transition: left .8s;
    }

    .btn-link:hover::after{
        left: 0;

    }

</style>

{% include 'navbar.html' %}
        {% if user.is_authenticated %}
            <h1 class="text-center jumbotron">Usted ya esta autenticado como: {{user}}</h1>
        {% else %}
      <div class="container jumbotron" id="general" style="align: center">
          <div class="col-sm-12" style="display: flex;justify-content: center;flex-direction: column">
              <h2 class="text-center">Iniciar cuenta en COBERTURA</h2>
              <h5 class="text-center">¿Aún no tienes cuenta? Crea una.</h5>
              <hr class="col-sm-4" id="lineAuth" style="background-color: #002a8f ">
          </div>
          <form id="formReg" class="form-horizontal" method="POST">
                {% csrf_token %}
    <div class="form-group " style="display: flex;justify-content: center" name="UserDivs">
        <label class="control-label col-sm-4" style="display: flex;justify-content: left"  for="username">Nombre de Usuario:</label>
     </div>
    <div class="form-group " style="display: flex;justify-content: center" name="UserDivs">
        <div name="meterAlert" id="divuser" class="col-sm-4" style="margin-top: -10px;width: 35%" title="ok">
            <input  id="userNameReg"  type="text" name="username" oninput="ValidarUser()"
                    class="form-control" autocomplete="off" title="Complete este campo">
            <span id="Wait" name="UserDivs" class=""></span>
         </div>
    </div>

    <div class="form-group " style="display: flex;justify-content: center;margin-top: -10px" name="PassDivs">
          <label class="control-label col-sm-4" style="display: flex;justify-content: left"  for="password1">Contraseña:</label>
    </div>
    <div class="form-group" style="display: flex;justify-content: center" name="PassDivs">
        <div class="col-sm-4" id="divPass" name="meterAlert" style="margin-top: -10px;width: 35%" title="ok">
            <input type="password"  name="password1" class="form-control" autocomplete="off" id="passReg" oninput="ValidatePass()"
                title="Complete este campo">
            <span name="PassDivs" class="form-control-feedback"></span>

            <a type="link" class="btn btn-link" id="mostrarPass" style="color: #002a8f;text-decoration: none" onclick="Transparent(this,'passReg')"
            data-toggle="tooltip" data-placement="bottom" title="Asegúrate de que nadie observe tu contraseña">Mostrar contraseña</a>
        </div>
    </div>
     <div class="col-sm-12 text-center">
        <button id="ingresar" type="submit" class="btn btn-default" style="width: 200px;background-color: #002a8f;color: white"
         data-toggle="tooltip" data-placement="bottom" title="Iniciar cuenta">Ingresar</button>
        <a  style="color: #002a8f;text-decoration: none" class="btn btn-link" id="linkOlvideContraseña" onclick="recuperarContrasenna()"
            data-toggle="tooltip" data-placement="bottom" title="Click si olvidaste tu contraseña">Olvidé mi contraseña</a>
    </div>
      <div class="col-sm-12">&nbsp;</div>
      <div class="col-sm-12 text-center">
          <h6 style="color: #2b669a">¿Aún no tienes cuenta?</h6>
          <a class="btn btn-default"  id="crearCliente" href="{% url 'registrar' %}" onclick="RedirectRegister()"
          data-toggle="tooltip" data-placement="bottom" title="Crear una nueva cuenta">Crear Cuenta en Cobertura</a>
      </div>
    </form>
    <div class="col-sm-12"> &nbsp;</div>
</div>
        {% endif %}
{% include 'footer.html' %}

<script>

    var user1=false;
    var pass1=true;
    var disabled=false;
    function ajustesAuth(){
        var divuser=document.getElementById('divuser');
        var ingresar=document.getElementById('ingresar');
        var divPass=document.getElementById('divPass');
        var lineAuth=document.getElementById('lineAuth');

       if($(window).width()>768){
            navbar('grande')
            divuser.style.width='35%';
            divPass.style.width='35%';
            ingresar.style.width='20%';
            lineAuth.style.width='';
            lineAuth.className='col-sm-4';
       }else{
             navbar('pequeño')
            divuser.style.width='70%';
            divPass.style.width='70%';
            ingresar.style.width='50%';
            lineAuth.style.width='80%';
            lineAuth.className='col-sm-8';
       }
    }

    window.onload=function () {
        ajustesAuth()
       window.onresize=function () {
        ajustesAuth()
       }
    }

    if ($("#userNameReg").val().length==0||$("#passReg").val().length==0){
          document.getElementById('ingresar').disabled = true;
          $('#crearCliente').attr('disabled', true);
        $('#linkOlvideContraseña').attr('disabled', true);
    }

    $('#formReg').on('submit', function(e){
         document.getElementById('userNameReg').disabled=true;
         document.getElementById('passReg').disabled=true;
         document.getElementById('ingresar').disabled=true;
         $('#mostrarPass').attr('disabled',true);
         $('#crearCliente').attr('disabled',true);
         $('#linkOlvideContraseña').attr('disabled',true);
         $('#formReg').css('background-color', '#92a8d1')
           .css('opacity', 0.5);
        document.getElementById('mostrarPass').disabled=true;
       e.preventDefault();
        if(user1){
            var csrftoken=document.getElementsByName('csrfmiddlewaretoken')[0].value;
            var data = {
            username: $('#userNameReg').val(),
            password: $('#passReg').val(),
            csrfmiddlewaretoken:csrftoken.toString(),
            dataType: "json",
            };
            var args = {type: "POST", url: "{% url 'iniciarsecion' %}", data};
            $.ajax(args).done(function (response) {
                if(response.Result=='True'){
                    setTimeout(function (){
                    window.location.href = "{% url 'cobertura' %}"},2200);
                    //$("formReg :input").prop('readonly', true);
                    var usuario=document.createTextNode(response.usuario);
                    alertify.alert('<p></p>','<h2 class="text-center" style="color: limegreen"><i class="fa fa-check-circle text-center" style="font-size: 35px;color: limegreen;margin-right: 20px"></i>Bienvenido <strong style="color: #002a8f">'+usuario.textContent+'</strong></h2>');
                    var aler=document.getElementsByClassName('ajs-close');
                    aler[0].remove()
                    var OK=document.getElementsByClassName('ajs-button ajs-ok');
                    OK[0].remove()
                    var header=document.getElementsByClassName("ajs-header");
                    var footer=document.getElementsByClassName("ajs-footer");
                    header[0].style.backgroundColor="#b8e57c";
                    footer[0].style.backgroundColor="#b8e57c";
                    /*alertify.success('<div style="background-color: white;height: 50px;width: 227px;margin: 0px;padding: 0px;border: 0px">' +
                        '<i class="fa fa-check-circle" style="color: limegreen;font-size: large;margin-top: 5px"></i>' +
                        '<p style="color: limegreen;font-family: bold;font-size: large">Bienvenido</p></div>');*/
                }else{
                    if(pass1==true) {
                        if(disabled) {
                            document.getElementById('ingresar').disabled = true;
                            disabled = false;
                            document.getElementById('userNameReg').disabled = false;
                            document.getElementById('passReg').disabled = false;
                            document.getElementById('ingresar').disabled = false;
                            $('#mostrarPass').attr('disabled', false);
                            $('#crearCliente').attr('disabled', false);
                            $('#linkOlvideContraseña').attr('disabled', false);
                            $('#general').css('background-color', '')
                                .css('opacity', 1.0);
                        }
                        var userNameReg = $("#userNameReg").val();
                        CampoObligatorio(1, true, 'La Contraseña entrada no coincide con el usuario "' + userNameReg + '".');
                        PassDivs = document.getElementsByName('PassDivs');
                        PassDivs[0].className = 'form-group has-error has-feedback';
                        PassDivs[1].className = 'form-group has-error has-feedback';
                        PassDivs[2].className = 'glyphicon glyphicon-remove form-control-feedback';
                        pass1 = false;
                        //btn.disabled
                    }
                }
            });
        }
    });

    function  ValidarUser(){
            var userNameReg = $("#userNameReg").val();
            var errorUser = document.getElementById('userNameReg');
            var data = { user:userNameReg };
            var args = { type:"GET", url:"/usuarios/user", data:data };
                   errorUser.parentElement.title = 'ok';

                   $.ajax(args).done(function (response) {
                       if (response.Result == 'True') {
                           CampoObligatorio(0,false,'');
                           if(errorUser.parentElement.title=='error'){
                               errorUser.parentElement.title = 'ok';
                           }
                           UserDivs = document.getElementsByName('UserDivs');
                           UserDivs[0].className = 'form-group has-success  has-feedback';
                           UserDivs[1].className = 'form-group has-success  has-feedback';
                           UserDivs[2].className = 'glyphicon glyphicon-ok form-control-feedback';
                           //has-success has-feedback
                           //glyphicon glyphicon-ok form-control-feedback
                           user1 = true;
                            //if(!disabled&&user1&&pass1&&true){
                               document.getElementById('ingresar').disabled = false;
                               $('#crearCliente').attr('disabled', false);
                               $('#linkOlvideContraseña').attr('disabled', false);
                               disabled=true;
                            //}
                       } else {
                           UserDivs = document.getElementsByName('UserDivs');
                           UserDivs[0].className = 'form-group has-error has-feedback';
                           UserDivs[1].className = 'form-group has-error has-feedback';
                           UserDivs[2].className = 'glyphicon glyphicon-remove  form-control-feedback';
                         //  if(disabled&&user1&&pass1&&true){
                               document.getElementById('ingresar').disabled = true;
                               $('#crearCliente').attr('disabled', true);
                               $('#linkOlvideContraseña').attr('disabled', true);
                               disabled=false;
                           // }
                           if(errorUser.parentElement.title=='error'){
                               CampoObligatorio(0,false,'');
                               errorUser.parentElement.title = 'ok';
                           }
                           if (errorUser.parentElement.title == 'ok') {
                               CampoObligatorio(0,false,'');
                               if (userNameReg.length>0){
                                   CampoObligatorio(0,true,'El usuario "'+userNameReg+'", no existe.');
                               }
                               errorUser.parentElement.title = 'error';
                               user1 = false;
                           }
                           //form-group has-error has-feedback
                           //glyphicon glyphicon-remove form-control-feedback
                           user1 = false;
                       }
                   });
        }
    function ValidatePass() {
        if(pass1==false) {
            PassDivs = document.getElementsByName('PassDivs');
            PassDivs[0].className = 'form-group ';
            PassDivs[1].className = 'form-group ';
            PassDivs[2].className = ' form-control-feedback';
            pass1 = true;
            CampoObligatorio(1, false);
        }
        if(!disabled&&user1&&pass1&&true){
           document.getElementById('ingresar').disabled = false ;
           $('#crearCliente').attr('disabled', false);
           $('#linkOlvideContraseña').attr('disabled', false);
           disabled=true;
        }

    }
    function CampoObligatorio(off,dos,text){
            meterAlerts=document.getElementsByName('meterAlert');
            if(dos) {
                var div = document.createElement("div");
                div.id='div'+off;
                div.className = " alert-danger col-sm-12";
                div.style.marginTop = "5px";
                //div.style.height="20px";
                div.style.marginBottom = " -10px";
                div.style.backgroundColor = " #feeeef";
                div.style.borderColor = " #e2808a";
                var i = document.createElement("i");
                i.className = "fa fa-exclamation-triangle";
                i.style.marginRight = " 10px";
                div.appendChild(i);
                var text = document.createTextNode(text);
                div.appendChild(text);
                meterAlerts[off].appendChild(div);
            }
            else{
                nod=document.getElementById('div'+off);
                if(nod!=null) {
                    nod.remove()
                }
//                meterAlerts[off].removeChild(document.getElementById('div'+off))
            }
        }
    function Transparent(self,off) {
        if(document.getElementById(off).type=='text'){
           document.getElementById(off).type='password'
        }else {
            document.getElementById(off).type = 'text';
        }
    }
    //$(document).ready(function () {
        //$('#ingresar').click(function () {
            //alertify.success("este es un mensaje de exito");
        //});
    //})
    function recuperarContrasenna() {
        var href="{% url 'password_recovery' %}";
     //   alert($('#userNameReg').val())
        window.location.href=href+'?='+$('#userNameReg').val();

    }
     $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip();
        });
</script>

  {% endblock %}

{% block footer %}
{% endblock %}

